//Primary colors
$main-red: #E8505B;
$title-c: #263238;
$shadow-c: #F6F6F6;
$text-c: #676F73;
$start-c: #E96A20;
$border-c: #E2E2E2;
$footer-bg:#263238;
$app-bg: #374248;
$link-c: #676F8A;
$white: #fff;
// box-shadow: 5px 5px 2px rgb(232 80 91 / 45%);
$red-shadow: rgba(232, 80, 91, .45);
$light-red: #FCE9EA;
$bg-hover: #DC4C56;

// family font
$family: 'Heebo', sans-serif;